#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff702;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    /* يتم عرض الزر فقط عند التمرير لأسفل */
}