<div class="line-with-text mx-5 p-5" data-aos="fade-down">
    <div class="line"></div>
    <div class="fw-bold text h4"> مشاريع أخري تم الانتهاء منها </div>
    <div class="line"></div>
</div>
    <main>
        <section class="project-table">
            <table>
                <thead>
                    <tr>
                        <th>م</th>
                        <th>اسم المشروع</th>
                        <th>اسم المالك</th>
                        <th>الموقع</th>
                        <th>وصف العمل</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>تصميم وتنفيذ أعمال المرحلة الثانية لتطوير مكاتب إدارة شركة الرياض القابضة</td>
                        <td>شركة الرياض القابضة</td>
                        <td>الرياض</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>تصميم وتنفيذ أعمال المرحلة الأولى لتطوير مكاتب إدارة شركة الرياض القابضة</td>
                        <td>شركة الرياض القابضة</td>
                        <td>الرياض</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>توريد وتركيب زجاج وجدران بلك مقاومة للحريق في أقبية مبنى المعقيلة التجاري</td>
                        <td>شركة الرياض القابضة</td>
                        <td>الرياض</td>
                        <td>أعمال إنشائية ومعمارية</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>المقر الرئيسي لشركة الجهاز القابضة</td>
                        <td>شركة الجهاز القابضة</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>المقر الرئيسي لشركة الفا القابضة</td>
                        <td>شركة الفا القابضة</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>بنك الراجحي فرع الغدير</td>
                        <td>عبدالله عبدالعزيز عبدالله</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>مقر شركة ديبا الاماراتية</td>
                        <td>شركة ديبا</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>أعمال التصميم وتنفيذ الديكور الداخلي لمجمع سكني - حي اشبيلية</td>
                        <td>شركة قيم العقارية</td>
                        <td>الرياض</td>
                        <td>أعمال تشطيبات معمارية</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>مشروع تشطيب ستوديو</td>
                        <td>شركة قيم العقارية</td>
                        <td>الرياض</td>
                        <td>أعمال تشطيبات معمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>أعمال ميكانيكية وكهربائية في مشروع دار السعد السكني</td>
                        <td>شركة عبد الرحمن سعد الراشد</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>مكتب وزارة الاستثمار بالمدينة الرقمية</td>
                        <td>وزارة الاستثمار</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>مكتب ومقر وزير الاستثمار</td>
                        <td>وزارة الاستثمار</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>مكتب وزارة الاستثمار بالعود سكوير</td>
                        <td>وزارة الاستثمار</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>B-IT فتنس رياضي</td>
                        <td>KON SPORT</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>تطوير أبراج اتصالات</td>
                        <td>شركة أريبيتال</td>
                        <td>الرياض</td>
                        <td>أعمال كهرباء وانشائية</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>لارا مول</td>
                        <td>شركة مرحبا</td>
                        <td>الرياض</td>
                        <td>أعمال انشائية</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>تطوير فتنس رياضي نجمة اللياقة فرع خريص</td>
                        <td>نجمة اللياقة</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>تطوير فتنس رياضي نجمة اللياقة فرع اشبيلية</td>
                        <td>نجمة اللياقة</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>صالة فتنس تايم</td>
                        <td>فتنس تايم</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>بنية تحتية مشروع اسكان المجمعة</td>
                        <td>وزارة التعليم العالي</td>
                        <td>الرياض</td>
                        <td>أعمال شبكات</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>دور اداري بنك البلاد الفرع الرئيسي</td>
                        <td>بنك البلاد</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>مستشفى غسيل الكلى</td>
                        <td>شركة الازهر الطبي</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>أسواق العثيم التجارية</td>
                        <td>عبدالله العثيم</td>
                        <td>الخبر</td>
                        <td>أعمال ميكانيكية وكهربائية وساكنة</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>مجمع المؤزة السكني</td>
                        <td>شركة زهرة الصحراء</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>مدارس التطوير الأهلية</td>
                        <td>مدارس التطوير الأهلية</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>مول المهنا</td>
                        <td>عبدالله المهنا</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>مجمع النخلة السكني</td>
                        <td>شركة الحبيب العقارية</td>
                        <td>الرياض</td>
                        <td>أعمال ميكانيكية وكهربائية وساكنة</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>منتجع الراجحي</td>
                        <td>شركة الراجحي</td>
                        <td>الرياض</td>
                        <td>أعمال الالكتروميكانيك</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>تنفيذ الشبكة الكهربائية وتقنيات الحاسب الآلي لمبنى الغرفة التجارية بحائل</td>
                        <td>الغرفة التجارية بحائل</td>
                        <td>حائل</td>
                        <td>أعمال كهربائية وميكانيك وحاسب</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>قصر سكني خاص</td>
                        <td>الشيخ سعد بن حافر</td>
                        <td>الرياض</td>
                        <td>أعمال كهربوميكانيكية</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>مجمع الأمير التجاري</td>
                        <td>شركة زهرة الصحراء</td>
                        <td>الرياض</td>
                        <td>أعمال تكييف مركزي مع تركيبات الدكت</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>مشروع هدم وإعادة بناء مسجد آل خليفة</td>
                        <td>وزارة الأوقاف</td>
                        <td>وادي الدواسر</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>مشروع هدم وإعادة بناء مسجد حي النخيل</td>
                        <td>وزارة الأوقاف</td>
                        <td>وادي الدواسر</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>مشروع هدم وإعادة بناء جامع السر</td>
                        <td>وزارة الأوقاف</td>
                        <td>حوطة بني تميم</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>مشروع هدم وإعادة بناء جامع الجرانية</td>
                        <td>وزارة الأوقاف</td>
                        <td>محافظة عفيف</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>مشروع هدم وإعادة بناء جامع مزرعة</td>
                        <td>وزارة الأوقاف</td>
                        <td>وادي الدواسر</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>مشروع هدم وإعادة بناء جامع أم سالم</td>
                        <td>وزارة الأوقاف</td>
                        <td>القويعية</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>مشروع تنفيذ مسجد الراشدية</td>
                        <td>وزارة الأوقاف</td>
                        <td>وادي الدواسر</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>مشروع عقد تنفيذ مسجد الوسيطاء</td>
                        <td>وزارة الأوقاف</td>
                        <td>محافظة الدرب</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>توريد وتركيب حجر طبيعي لمشروع تنفيذ قنوات تصريف مياه الأمطار</td>
                        <td>وزارة الأوقاف</td>
                        <td>الرياض</td>
                        <td>أعمال إنشائية</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>تنفيذ العديد من مشاريع أعمال العزل</td>
                        <td>جهات متعددة</td>
                        <td>الرياض</td>
                        <td>أعمال عزل مائي وحراري</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>تنفيذ العديد من المشاريع الخاصة</td>
                        <td>جهات متعددة</td>
                        <td>الرياض</td>
                        <td>أعمال إنشائية ومعمارية وكهرباء وميكانيك</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
