
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    margin: 2em auto;
    max-width: 90%;
    background: white;
    padding: 1em;
    box-shadow: 0 0 10px rgba(61, 29, 240, 0.1);
}

.project-table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    th, td {
        padding: 0.5em;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 0.3em;
        font-size: 0.8em;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    th, td {
        text-align: right;
    }
    thead tr {
        display: none;
    }
    tr {
        margin-bottom: 1em;
    }
    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.5em;
        font-weight: bold;
        white-space: nowrap;
    }
}
