<div class="container m-auto">

  <div class="line-with-text mx-5 p-5" data-aos="fade-down">
    <div class="line"></div>
    <div class="fw-bold text h4"> التخصصات</div>
    <div class="line"></div>
  </div>
  <div class="card-grid" data-aos="fade-up">
    <div class="card">
      <img
        src="../../assets/ourService/eco-factory.png"
        alt="خدمات المباني الخضراء"
      />
      <div class="card-text">خدمات المباني الخضراء</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/smart-house.png"
        alt="خدمات المباني الذكية"
      />
      <div class="card-text">خدمات المباني الذكية</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/electrician.png"
        alt="الأعمال الكهربائية والميكانيكية"
      />
      <div class="card-text">الأعمال الكهربائية والميكانيكية</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/" alt="الأمن وأنظمة التحكم" />
      <div class="card-text">الأمن وأنظمة التحكم</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/air-conditioner.png"
        alt="أنظمة تكييف الهواء"
      />
      <div class="card-text">أنظمة تكييف الهواء</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/smoke-detector.png"
        alt="أنظمة مكافحة الحرائق"
      />
      <div class="card-text">أنظمة مكافحة الحرائق</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/plumbing.png" alt="أنظمة السباكة" />
      <div class="card-text">أنظمة السباكة</div>
    </div>
  </div>


  <div class="line-with-text mx-5 p-5" data-aos="fade-down">
    <div class="line"></div>
    <div class="fw-bold text h4">مجال الاعمال والقطاعات </div>
    <div class="line"></div>
  </div>
  <div class="card-grid"
  data-aos="fade-up">
    <div class="card">
      <img src="../../assets/ourService/hospital.png" alt="الرعاية الصحية" />
      <div class="card-text">الرعاية الصحية</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/apartment.png" alt="العقارات السكنية" />
      <div class="card-text">العقارات السكنية</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/aircraft.png" alt="المطارات" />
      <div class="card-text">المطارات</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/factory.png" alt="المصانع" />
      <div class="card-text">المصانع</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/shop.png" alt="المنشآت الرياضية" />
      <div class="card-text">المنشآت الرياضية</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/tent.png" alt="القطاعات العسكرية" />
      <div class="card-text">القطاعات العسكرية</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/school.png" alt="التعليم" />
      <div class="card-text">التعليم</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/building.png"
        alt="العقارات التجارية"
      />
      <div class="card-text">العقارات التجارية</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/5-stars.png"
        alt="الفنادق والآثار السياحية"
      />
      <div class="card-text">الفنادق والآثار السياحية</div>
    </div>
    <div class="card">
      <img
        src="../../assets/ourService/charging-station.png"
        alt="محطات الطاقة"
      />
      <div class="card-text">محطات الطاقة</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/mosque.png" alt="المساجد" />
      <div class="card-text">المساجد</div>
    </div>
    <div class="card">
      <img src="../../assets/ourService/tower.png" alt="الاتصالات" />
      <div class="card-text">الاتصالات</div>
    </div>
  </div>
</div>
