

<body>
  <div class="container">
    <h1>التخصصات</h1>
    <div class="card-grid">
      <div class="card">
        <img src="https://www.svgrepo.com/show/427694/green-building.svg" alt="خدمات المباني الخضراء">
        <div class="card-text">خدمات المباني الخضراء</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/428992/smart-building.svg" alt="خدمات المباني الذكية">
        <div class="card-text">خدمات المباني الذكية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/281524/electrician-electric.svg" alt="الأعمال الكهربائية والميكانيكية">
        <div class="card-text">الأعمال الكهربائية والميكانيكية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/106981/security.svg" alt="الأمن وأنظمة التحكم">
        <div class="card-text">الأمن وأنظمة التحكم</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/146916/air-conditioning.svg" alt="أنظمة تكييف الهواء">
        <div class="card-text">أنظمة تكييف الهواء</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/159485/fire-alarm.svg" alt="أنظمة مكافحة الحرائق">
        <div class="card-text">أنظمة مكافحة الحرائق</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/285886/plumber-plumbing.svg" alt="أنظمة السباكة">
        <div class="card-text">أنظمة السباكة</div>
      </div>
    </div>

    <h1>مجال الأعمال والقطاعات</h1>
    <div class="card-grid">
      <div class="card">
        <img src="https://www.svgrepo.com/show/14779/hospital-building.svg" alt="الرعاية الصحية">
        <div class="card-text">الرعاية الصحية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/176930/apartment.svg" alt="العقارات السكنية">
        <div class="card-text">العقارات السكنية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/319467/airport.svg" alt="المطارات">
        <div class="card-text">المطارات</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/160626/factory.svg" alt="المصانع">
        <div class="card-text">المصانع</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/300930/sports.svg" alt="المنشآت الرياضية">
        <div class="card-text">المنشآت الرياضية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/276831/military-salute.svg" alt="القطاعات العسكرية">
        <div class="card-text">القطاعات العسكرية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/245768/education-student.svg" alt="التعليم">
        <div class="card-text">التعليم</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/259919/commercial-building.svg" alt="العقارات التجارية">
        <div class="card-text">العقارات التجارية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/1710/hotel.svg" alt="الفنادق والآثار السياحية">
        <div class="card-text">الفنادق والآثار السياحية</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/137669/power-station.svg" alt="محطات الطاقة">
        <div class="card-text">محطات الطاقة</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/205421/mosque.svg" alt="المساجد">
        <div class="card-text">المساجد</div>
      </div>
      <div class="card">
        <img src="https://www.svgrepo.com/show/306195/communication-tower.svg" alt="الاتصالات">
        <div class="card-text">الاتصالات</div>
      </div>
    </div>
  </div>
</body>

