<div class="container">
    <!-- <section class="about bg-black py-3" id="about">


        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-lg-5 ">
                <div class="content">
                    <h2 class="fw-bold ">سنقدم لك أفضل العمل الذي حلمت به!</h2>
                    <h4 class="lh-lg">كشريك يعتمد عليه ، تدير وتنفذ وتفحص جميع أنواع المشاريع الكهروميكانيكية بالإضافة
                        إلى تقديم
                        المشورة الهندسية وتعديل وتحديث المخططات أثناء تنفيذ وتركيب الأنظمة والمعدات بأنواعها</h4>

                </div>

            </div>
            <div class="col-12 col-lg-12 ">
                <div class="video">
                    <video class="w-100" src="assets/images/about-vid.mp4" loop muted autoplay></video>
                </div>
            </div>

        </div>

    </section> -->




    <section class="services" id="services">

        <h1 class="heading">خدماتنا</h1>
        <div class="box-container">

            <div class="box shadow">
                <img src="assets/images/service-1.png" alt="">
                <h3>بناء المباني</h3>
                <p>نص وصفي يشرح خدمة بناء المباني.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-2.png" alt="">
                <h3>تجديد المنازل</h3>
                <p>نص وصفي يشرح خدمة تجديد المنازل.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-3.png" alt="">
                <h3>تصميم الهندسة المعمارية</h3>
                <p>نص وصفي يشرح خدمة تصميم الهندسة المعمارية.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-4.png" alt="">
                <h3>توريد المواد</h3>
                <p>نص وصفي يشرح خدمة توريد المواد.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-5.png" alt="">
                <h3>استشاري بناء</h3>
                <p>نص وصفي يشرح خدمة الاستشاري بناء.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-6.png" alt="">
                <h3>تصميم الديكور الداخلي</h3>
                <p>نص وصفي يشرح خدمة تصميم الديكور الداخلي.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-7.png" alt="">
                <h3>صيانة المباني</h3>
                <p>نص وصفي يشرح خدمة صيانة المباني.</p>
            </div>

            <div class="box shadow">
                <img src="assets/images/service-8.png" alt="">
                <h3>تجديد المباني</h3>
                <p>نص وصفي يشرح خدمة تجديد المباني.</p>
            </div>

        </div>



    </section>


</div>