<div class="container">
    <div data-aos="fade-up">
        <h3 class=" m-auto text-center pt-3">تخصصات شركة إخلاص التعمير للمقاولات</h3>
        <div class="yellowline"></div>

        <h5>بعد أعمال إنشائية وإنجازات مديتة عديدة، حصلت الشركة
            على تصنيف في عدة مجالات واعتمدت من إدارة تصنيف
            المقاولين بوزارة الشؤون البلدية والقروية، وهذه المجالات
            كالاتي:
        </h5>
    </div>

    <div class="row row-gap-4 my-3 justify-content-center">
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/fire.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text"> أنظمه اطفاء الحرائق</div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/catogries/اعمال التكيف والتبريد.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text"> أعمال التبريد والتكييف  </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/electrical-works.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text"> الأعمال الكهربائية </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/catogries/الانشاءات العامه والمبانى.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text">الإنشاءات العامة والمباني </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/catogries/dl.beatsnoop.com-3000-hCZiHYxBA0.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text">الأعمال الكهربائية والميكانيكية وأعمال التبريد والتكييف</div>
                </div>

            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/catogries/dl.beatsnoop.com-3000-Ne89JnmEFo.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text">اعمال العزل المائي والحراري </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/irrigate.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text"> انظمه الري </div>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" class="col col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/catogries/dl.beatsnoop.com-3000-HDqRVk6PZA.jpg" alt="صورة">
                <div class="overlay">
                    <div class="text">أعمال ترميم وإصلاح وصيانة المباني</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div data-aos="fade-up">
    <h3 class=" m-auto text-center pt-3 h2"> ديكورات وتشطيبات </h3>
    <div class="yellowline"></div>

    <div class="img">
        <img class="w-100" src="../../assets/catogries/decore.jpg" alt="صورة">

    </div>
</div>



