<div class="bg-counter">

    <div class="container">
        <div class="row counters text-white ">

            <div class="col-lg-3 col-12 text-center" style="border-right:none;">
                <span style="color:#fff;" ngxCountAnimation="118" duration="2000" maximumFractionDigits="0"
                    minimumFractionDigits="0" highPerformance="true"></span>
                <p>عملاءنا</p>

            </div>

            <div class="col-lg-3 col-12 text-center">
                <span style="color:#fff;" ngxCountAnimation="50" duration="2000" maximumFractionDigits="0"
                    minimumFractionDigits="0" highPerformance="true"></span>
                <p>اجمالي المشروعات</p>
            </div>

            <div class="col-lg-3 col-12 text-center">
                <span style="color:#fff;" ngxCountAnimation="10" duration="2000" maximumFractionDigits="0"
                    minimumFractionDigits="0" highPerformance="true"></span>
                <p>مشروعات عملاقه</p>
            </div>

            <div class="col-lg-3 col-12 text-center">
                <span style="color:#fff;" ngxCountAnimation="25" duration="2000" maximumFractionDigits="0"
                    minimumFractionDigits="0" highPerformance="true"></span>
                <p>مشروعات منفذة</p>
            </div>

        </div>
    </div>
</div>