.top {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../assets/dl.beatsnoop.com-3000-JCkSirNhGP.jpg) no-repeat center center/cover;
    padding-top: 2rem;
    font-size: 1rem;
}

.carousel-item {
    position: relative;
    height: 100vh;

}

.carousel-content {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    color: white;
    text-align: center;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.carousel-content.visible {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

.top {
    height: 50vh;

}


#sec-3 {
    background-color: var(--txtaccent);
    padding-top: 30px;
    padding-bottom: 30px;
}

#sec-3 h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--bgaccent);
    font-weight: 900;
}

#sec-3 .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
}

#sec-3 .card {
    width: 90%;
    margin-bottom: 30px;
}

#sec-3 .card p {
    text-align: justify;
    word-break: break-all;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#sec-3 .card>div {
    position: relative;
}

#sec-3 .caption {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: var(--txtaccent);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 8px 15px 15px;
    position: absolute;
    bottom: 0px;
    font-size: 1.5rem;
    font-weight: 400;
}

#sec-3 a {
    color: var(--txtaccent);
    background-color: var(--haccent);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 5px;
    display: inline-block;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .container {
        width: 720px;
    }

    #sec-3 {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    #sec-3 .cont {
        flex-direction: row;
    }

    #sec-3 .card {
        width: 48%;
    }

    #sec-3 .card:last-child {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Standard PC screens */
@media (min-width: 1200px) {
    html {
        font-size: 15px;
    }

    .container {
        width: 1140px;
    }

    #sec-3 {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    #sec-3 .card {
        width: 31%;
    }

    #sec-3 .card:last-child {
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (min-width: 1400px) {
    html {
        font-size: 17px;
    }

    .container {
        width: 1340px;
    }
}