<div class="top position-relative">
    <div class="carousel-content position-absolute animate__animated animate__fadeIn">
        <h2 data-aos="zoom-in">ديكورات وتشطيبات </h2>
        <div class="yellowline"></div>

    </div>
</div>

<section id="sec-3">
    <div class="container">

        <div class="cont">
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0004.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0005.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0006.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0007.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0008.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0009.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0010.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0011.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0012.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0013.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0014.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0015.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0016.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0017.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0018.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0012.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0019.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0020.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0021.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0022.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0030.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0031.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0035.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0036.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0037.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0038.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0039.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0040.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0041.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0042.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0043.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0044.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0045.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0046.jpg" class="card-img-top" alt="...">
                </div>
            </div>
         
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0048.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="card border-0">
                <div>
                    <img src="../../assets/decorate/IMG-20240612-WA0049.jpg" class="card-img-top" alt="...">
                </div>
            </div>
          </div>
    </div>
</section>