<div class="top position-relative">
    <div class="carousel-content position-absolute animate__animated animate__fadeIn">
        <h2 data-aos="zoom-in">اعمالنا السابقه </h2>
        <div class="yellowline"></div>

    </div>
</div>

<section id="sec-3">
    <div class="container">

        <div class="cont" >
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/newproject/1.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>  بنك الراجحي (فرع الغدير - الرياض)
                                             </h5>
                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>  عقد أعمال السباكة   شركة إخلاص التعمير   
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/newproject/2.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5> مصنع يو تي سي للأثاث (-الرياض)  </h5>


                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>عقد الأعمال الكهربائية والميكانيكية شركة إخلاص التعمير    
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/newproject/5.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>  مشروع شركة ألفا الرئيسية (الرياض) </h5>

                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>المقاولات الكهربائية والميكانيكية  شركة إخلاص التعمير    
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/newproject/3.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5> بي آي تي ​​فيتنس (فرع السلام – الرياض)  </h5>


                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>عقد أعمال الهندسة الكهربائية والميكانيكية شركة إخلاص التعمير   
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/newproject/5.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>  شركة ديبا المكتب الرئيسي (-الرياض)</h5>


                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>  عقد الأعمال الكهربائية والميكانيكية  شركة إخلاص التعمير   
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture1.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>مبنى النقل الجماعي </h5>


                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>اسم المالــــك : شركة الرياض للتعمير
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>
                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture2.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>سوق عتيقة المركزي المرحلة الأولى </h5>
                    </div>
                </div>
                <div class="card-body shadow rounded rounded-2  pt-4">
                    <h6>اسم المالــــك : شركة الرياض للتعمير
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
          
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/pictuer4.PNG" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>سوق عتيقة المركزي المرحلة الثانية</h5>
                        <h5>العمل المنفذ : أعمال كهربائية بنية تحتية </h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : شركة الرياض للتعمير
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture5.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>سوق عتيقة المركزي المرحلة الثانية</h5>
                        <h5>العمل المنفذ : تمديدات كهربائية</h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : شركة الرياض للتعمير
                    </h6>
                    <h6> حالة المشروع: تم التسليم
                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture6.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>سوق عتيقة المركزي المرحلة الثانية</h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : شركة الرياض للتعمير
                    </h6>
                    <h6> حالة المشروع: تم التلسيم
                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture7.jpg" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>مجمع النخلة السكني
                        </h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : شركة محمد عبدالعزيز الحبيب العقارية
                    </h6>
                    <h6> حالة المشروع: تم التسليم

                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture8.png" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>مجمع الأومير
                        </h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : شركة زهرة الصحراء
                    </h6>
                    <h6> حالة المشروع: تم التسليم

                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
            <div data-aos="fade-up" class="card border-0">
                <div>
                    <img src="../../assets/project/Picture9.png" class="card-img-top" alt="...">
                    <div class="caption">
                        <h5>قصر سكني خاص
                        </h5>


                    </div>

                </div>

                <div class="card-body shadow rounded rounded-2  pt-4">

                    <h6>اسم المالــــك : الشيخ سعد بن جافل

                    </h6>
                    <h6> حالة المشروع: تم التسليم

                    </h6>

                    <!-- <a href="#">Show More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>




<app-projects-t></app-projects-t>