
.socialContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.socialContainer:hover {
    transform: scale(1.2);
}

.socialSvg {
    width: 30px;
    transition: all 0.3s ease;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}