<app-slider></app-slider>

<div data-aos="fade-up" class="container text-center my-5 lh-1">
    <h2>
        شركة إخلاص التعمير للمقاولات
    </h2>
    <div class="yellowline"></div>

    <h4 class="w-75 m-auto lh-lg">
        ان شركه اخلاص التعمير للمقاولات هي شركه متخصصة للأعمال الكهربائية والميكانيكية تعمل في المملكة العربية السعودية
        وتتطور بخطى ثابتة من خلال التركيز على احتياجات ومتطلبات المشاريع وتنفيذها طبقاً لأحدث اجراءات ضبط وضمان الجودة
        وآخر المستجدات التقنية والمقاييس الدولية، مما جعلها تكسب سمعة مهنية عالية.
        وفي ضوء النهضة العمرانية التي تشهدها المملكة العربية السعودية فقد تمكنت الشركه من تقديم حلول متعددة ومقترحات
        فنية تواكب ذلك التطور مما انعكس بشكل إيجابي على تقليل استهلاك الطاقة وزيادة العمر الافتراضي للمعدات والانظمة
        وساهم أيضاً في تسهيل عمليات التشغيل والصيانة بعد التنفيذ.


    </h4>
</div>

<app-counter></app-counter>
<app-categories></app-categories>
<app-back-to-top></app-back-to-top>



