<section id="sec-6" class="mt-2">
    <div class="container">
        <div class="about">
            <h3 class="footColor">شركة إخلاص التعمير </h3>
            <h2>
                <img class="w-25" src="../../assets/pixelcut-export-removebg-preview.png" alt="">
            </h2>
            <p>اخلاص التعمير للمقاولات هي شركه متخصصة للأعمال الكهربائية والميكانيكية تعمل في المملكة العربية السعودية
            </p>


        </div>
        <div class="contact">
            <h3 class="footColor">اتصل بنا</h3>

            <div class="d-flex gap-3 my-3">
                <a href="#"><i class="fab  fa-facebook-f"></i></a>
                <a href="#"><i class="fab  fa-twitter"></i></a>
                <a href="#"><i class="fab  fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab  fa-youtube-square"></i></a>
            </div>
            <p>
                ص.ب 11383 الرياض 14521 <br>
                الممكله العربيه السعوديه
            </p>
            <p>بريد الكتروني :
            </p>
            <h4 > eskhlasaltameer&#64;hotmail.com</h4>
        </div>
        <div class="links lh-lg">
            <h4 class="footColor">استكشاف الروابط</h4>
            <a href="#">خدماتنا</a>
            <a href="#">تعرف على فريقنا</a>
            <a href="#">المنتدى</a>
            <a href="#">مركز المساعدة</a>
            <a href="#">اتصل بنا</a>
        </div>
      </div>
</section>
<section id="sec-7">
    <div class="container">
        <p>Copyright 2024 |<span> EKHLAS ALTAMEER</span></p>
    </div>
</section>